In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("../data/Dailylog data -lifelog/Lifestyle - Drinking (2).xlsx")

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %H:%M:%S')

In [4]:
df.rename(columns={"Non-identifying keys":"id"},inplace=True)

In [5]:
df.drop(columns="When",inplace=True)

In [6]:
df

,id,Date,Types of alcohol,Alcohol consumption,units
0,SYM2-1-101,2021-03-02,Other (rice wine),3,glasses (200ml)
1,SYM2-1-101,2021-03-03,Other (rice wine),3,glasses (200ml)
2,SYM2-1-135,2021-03-17,Beer,25,glasses (500ml)
3,SYM2-1-137,2021-04-27,Soju,1,glasses (50ml)
4,SYM2-1-292,2021-05-17,Beer,2,glasses (500ml)
...,...,...,...,...,...
521,SYM2-1-634,2023-12-09,Liquor,6,shots (1oz)
522,SYM2-1-634,2023-12-10,Fruit wine,15,glasses (50ml)
523,SYM2-1-634,2023-12-10,Liquor,3,shots (1oz)
524,SYM2-1-634,2023-12-10,Beer,2,glasses (500ml)
525,SYM2-1-634,2023-12-10,Soju,5,glasses (50ml)

In [7]:
df.isna().sum()

id                     0
Date                   0
Types of alcohol       0
Alcohol consumption    0
units                  0
dtype: int64

In [11]:
df["units"]=df["units"].str.extract(r"(\d+)").astype(int)
df["total_alcohol_consumption"]=df["Alcohol consumption"]*df["units"]

In [12]:
df.drop(columns=["Alcohol consumption","units","Types of alcohol"],inplace=True)

In [13]:
print(df[["id","Date"]].duplicated().sum())
df = df.drop_duplicates(subset=["id", "Date"], keep='first')
print(df[["id","Date"]].duplicated().sum())

40
0

In [14]:
df.columns=df.columns.str.lower()
df.to_csv("../data_processed/daily_lifelog/drinking.csv",index=False)