In [39]:
import numpy as np
import pandas as pd

In [40]:
df = pd.read_excel("../data/Dailylog data -lifelog/Lifestyle - Drinking (2).xlsx")

In [41]:
df.rename(columns={"Non-identifying keys":"id"},inplace=True)

In [22]:
df

,id,Date,When,Types of alcohol,Alcohol consumption,units
0,SYM2-1-101,2021-03-02,Evening,Other (rice wine),3,glasses (200ml)
1,SYM2-1-101,2021-03-03,Evening,Other (rice wine),3,glasses (200ml)
2,SYM2-1-135,2021-03-17,AM,Beer,25,glasses (500ml)
3,SYM2-1-137,2021-04-27,AM,Soju,1,glasses (50ml)
4,SYM2-1-292,2021-05-17,Evening,Beer,2,glasses (500ml)
...,...,...,...,...,...,...
521,SYM2-1-634,2023-12-09,PM,Liquor,6,shots (1oz)
522,SYM2-1-634,2023-12-10,PM,Fruit wine,15,glasses (50ml)
523,SYM2-1-634,2023-12-10,PM,Liquor,3,shots (1oz)
524,SYM2-1-634,2023-12-10,Evening,Beer,2,glasses (500ml)
525,SYM2-1-634,2023-12-10,Evening,Soju,5,glasses (50ml)

In [32]:
df.isna().sum()

id                     0
Date                   0
When                   0
Types of alcohol       0
Alcohol consumption    0
units                  0
dtype: int64

In [33]:
df["When"].unique()

array(['Evening', 'AM', 'PM'], dtype=object)

In [42]:
df["units"]=df["units"].str.extract(r"(\d+)").astype(int)
df["total_alcohol_consumption"]=df["Alcohol consumption"]*df["units"]

In [43]:
df.drop(columns=["Alcohol consumption","units","Types of alcohol"],inplace=True)

In [44]:
print(df[["id","Date"]].duplicated().sum())
df = df.drop_duplicates(subset=["id", "Date"], keep='first')
print(df[["id","Date"]].duplicated().sum())

40
0

In [45]:
df.to_csv("../data_processed/daily_lifelog/drinking.csv",index=False)