In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_excel("../data/Dailylog data -lifelog/Lifestyle - Illuminance.xlsx",parse_dates=["Date"])

In [10]:
df

     Non-identifying keys                Date  Measures
0              SYM2-1-101 2021-03-02 05:41:07         0
1              SYM2-1-101 2021-03-04 09:20:11       257
2              SYM2-1-101 2021-03-04 10:06:25       397
3              SYM2-1-101 2021-03-04 10:19:20       413
4              SYM2-1-101 2021-03-04 10:23:42       405
...                   ...                 ...       ...
7723           SYM2-1-634 2023-12-14 21:07:06         0
7724           SYM2-1-634 2023-12-16 02:12:36         0
7725           SYM2-1-634 2023-12-16 21:36:48         0
7726           SYM2-1-634 2023-12-18 09:33:19         0
7727           SYM2-1-634 2023-12-18 09:34:11         0

[7728 rows x 3 columns]

In [11]:
df.rename(columns={"Non-identifying keys":"id"},inplace=True)

In [12]:
df.isna().sum()

id          0
Date        0
Measures    0
dtype: int64

In [14]:
df[["id","Date"]].duplicated().sum()
df[["id","Date"]].drop_duplicates(keep="first",inplace=True)

C:\Users\jainn\AppData\Local\Temp\ipykernel_21172\2674917569.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["id","Date"]].drop_duplicates(keep="first",inplace=True)

In [15]:
df.to_csv("../data_processed/daily_lifelog/illuminance.csv",index=False)