In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"../data/Panic Diary (5).xlsx")

In [3]:
df.isna().sum()

Non-identifying keys    0
Date                    0
Start time              0
End time                0
Duration                0
Intensity               0
Comorbidities           0
dtype: int64

In [6]:
df.drop(columns=["End time","Duration","Intensity","Comorbidities","Start time"],inplace=True)

In [7]:
df["panic"]=0

In [8]:
panic_tommorow=df.copy()

In [9]:
panic_tommorow["Date"] = panic_tommorow["Date"] - pd.Timedelta(days=1)

In [10]:
panic_tommorow["panic"]=1

In [11]:
panic_merge=pd.concat([df,panic_tommorow],ignore_index=True)

In [12]:
panic_merge.drop_duplicates(["Date","panic"],keep="first",inplace=True)

In [13]:
panic_merge.sort_values(by="panic",ascending=False)

     Non-identifying keys       Date  panic
1186           SYM2-1-634 2023-12-16      1
1184           SYM2-1-634 2023-12-12      1
1112           SYM2-1-634 2023-10-22      1
1113           SYM2-1-634 2023-10-21      1
1114           SYM2-1-634 2023-10-23      1
...                   ...        ...    ...
35             SYM2-1-301 2021-05-03      0
36             SYM2-1-301 2021-05-09      0
37             SYM2-1-301 2021-05-15      0
38             SYM2-1-301 2021-05-20      0
39             SYM2-1-301 2021-06-06      0

[740 rows x 3 columns]

In [15]:
panic_merge.columns=['id', 'Date', 'panic']

In [17]:
panic_merge.to_csv("../data_processed/panic.csv", index=False)