In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("../data/Dailylog data -lifelog/Lifestyle - Smoking, Eating, Menstruation.xlsx")

In [3]:
df

,Non-identifying keys,Date,Amount smoked,Breakfast,Lunch,Dinner,Morning snack,Afternoon snack,Midnight snacks,Menstruation
0,SYM2-1-278,2021-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
1,SYM2-1-288,2021-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
2,SYM2-1-292,2021-06-08,1.0,Y,N,N,N,N,N,NaN
3,SYM2-1-292,2021-06-07,4.0,N,Y,Y,N,N,N,NaN
4,SYM2-1-292,2021-06-06,10.0,N,Y,N,N,N,N,NaN
...,...,...,...,...,...,...,...,...,...,...
1338,SYM2-1-634,2023-09-23,20.0,N,Y,N,N,N,N,NaN
1339,SYM2-1-634,2023-09-21,20.0,N,Y,N,N,N,N,NaN
1340,SYM2-1-634,2023-09-20,20.0,N,Y,N,N,N,Y,NaN
1341,SYM2-1-634,2023-09-18,20.0,N,Y,N,N,N,N,NaN
1342,SYM2-1-634,2023-09-17,20.0,N,N,Y,N,N,Y,NaN

In [4]:
df.rename(columns={"Non-identifying keys":"id"},inplace=True)

In [6]:
df.isna().sum()

id                   0
Date                 0
Amount smoked      839
Breakfast          868
Lunch              868
Dinner             868
Morning snack      868
Afternoon snack    868
Midnight snacks    868
Menstruation       477
dtype: int64

In [5]:
df["Amount smoked"]=df["Amount smoked"].fillna(0)

In [6]:
replacement = {pd.NA:"N"}
df=df.replace(replacement)

In [7]:
df.isna().sum()

id                 0
Date               0
Amount smoked      0
Breakfast          0
Lunch              0
Dinner             0
Morning snack      0
Afternoon snack    0
Midnight snacks    0
Menstruation       0
dtype: int64

In [8]:
df[["id","Date"]].duplicated().sum()

np.int64(0)

In [11]:
df.columns=df.columns.str.lower()
df.to_csv("../data_processed/daily_lifelog/smoking_eating_mensuration.csv",index=False)